.button {
  position: relative;
  width: 260px;
  height: 55px;
  border: 0;
  border-radius: 8px;
  background-color: #25A1D0;
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  cursor: pointer;

  transition: all 0.2s;
}

.button-desabled {
  background-color: #474747;
  cursor: auto
}

.button:active {
  background-color: rgba(37, 162, 208, 0.75);
}

.button-desabled:active {
  background-color: #474747;
}

.loading-button {
  position: absolute;
  right: 0;
}
