.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header-chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #000;
}

.arrow-left-group {
  width: 35px;
  height: 25px;
  cursor: pointer;
}

.arrow-left-group:active {
  opacity: .6;
}

.group-name {
  font-size: 22px;
  margin-left: 25px;
  color: #25A1D0;
}

.chat {
  padding: 5px 20px 10px 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
