.floating-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #25A1D0;
  position: absolute;
  top: 122px;
  right: 10px;
  cursor: pointer;

  transition: opacity .2s;
}

.floating-button:active {
  opacity: .6;
}

.image-plus {
  width: 21px;
  height: 21px;
  -webkit-user-drag: none;
}
