.container-home {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.main {
  width: 800px;
  height: 95vh;
}

.right-menu {
  width: 300px;
  height: 95vh;
  border-radius: 12px 0 0 12px;
  border-left: 1px solid #000;
}
