.text-field {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  background-color: transparent;
  border: 1px solid #25A1D0;
  border-radius: 8px;
  color: #FFF;
  padding: 15px;
}

.text-field .input-text {
  background-color: transparent;
  border: 0;
  height: 35px;
  width: 100%;
  font-size: 18px;
  font-style: italic;
  color: #FFF;
}

.text-field-icon {
  width: 23px;
  height: 23px;
  cursor: pointer;

  transition: all .2s;
}

.text-field-icon:active {
  opacity: .8;
}

.text-field-popup {
  position: absolute;
  right: 0;
  width: 0;
  padding: 6px;
  transform: translate(105%);
  background-color: #474747;
  color: #DBDBDB;
  border-radius: 4px;
  opacity: 0;
  overflow: hidden;
  transition: width .4s, opacity .3s;
}

.popup-text {
  font-size: 14px;
  white-space: nowrap;
}

.popup-active {
  opacity: 1;
  width: 190px;
}
