.list-groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  background-color: transparent;
}

.logo-header-list {
  width: 131px;
  height: 45px;
  margin-left: 15px;
}

.menu-header-list {
  width: 35px;
  height: 27px;
  margin-right: 15px;
  cursor: pointer;
}

.menu-header-list:active {
  opacity: .8;
}

.list {
  width: 100%;
  height: 100%;
  padding: 0 0 0 20px;
  margin-top: 5px;
  padding-bottom: 15px;
  overflow-y: scroll;
}

.empty {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.empty-text {
  font-size: 18px;
  font-weight: 300;
  color: #25A1D0;
}
